/* App.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    background-color: lightblue; /* Set the background color to light blue */
    background-image: radial-gradient(white 5%, transparent 5%); /* Create white dots pattern */
    background-size: 20px 20px; /* Adjust the size of the dots */
  }
  